@media only screen and (max-width: 2000px) and (min-width: 1025px){

    header {
        width: 100%;
        height: 309px;
        background-image: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.15752-9/422221804_442098844895337_285424521677156991_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=7pd_QPax_lQAb5SSPVN&_nc_ht=scontent.ftbs6-2.fna&oh=03_AdWPJueJcLhY-WBYkyOrBg_RxDB2tXooEi05jjouXCbtNA&oe=663E0DAD);
        background-size: cover;
        margin-bottom: 48px;
    }





    .img-2 {
        position: fixed;
        width: 172px;
        height: 82px;
        margin-top: 17px;
        margin-left: 198px;

    }

    .img-3 {
        position: fixed;
        width: 28px;
        height: 20px;
        margin-top: 3px;
        margin-left: 126px;
    }

    .img-4  {
        position: fixed;
        cursor: pointer;
        width: 40px;
        height: 29px;
        margin-top: -1px;
        margin-left: 137px;
        position: relative;
    }


    .sticky {
        position: fixed;
        background-color: rgba(5, 5, 5, 0.8);
        width: 100%;
        height: 105px;
        z-index: 100;
    }

    .Red-Rod-1 {
        background-image: url(https://restaurant.stepprojects.ge/images/hover_bg.png);
        height: 6px;
        width: 100%;
        margin-top: 29px;
    }

    .Header-Top-Row {
        height: 120px;
        display: flex;

    }

    .Main-Pages {
        display: flex;
        margin-left: 1140px;
        margin-top: 40px;
        color: white;
    }

    .Home {
        position: fixed;
        color: white;
        font-family: Rame-Light;
        font-size: 15px;
    }

    .Cart {
        position: fixed;
        color: white;
        background-color: red;
        width: 50px;
        height: 27px;
        padding-left: 7px;
        border-radius: 3px;
        margin-left: 80px;
        font-family: Rame-Light;
        font-size: 16px;
    }

    .Text-1 {
        color: white;
        margin-top: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        font-size: 26px;
        font-family: Rame-Bold;
    }




    .img-0 {
        width: 100%;
        height: 6px;
    }

    .img-1 {
        width: 100%;
        height: 6px;
        
    }

    .big-red-line {
        margin-top: -62px;
        
    }

    .Home-Cart {
        margin-top: -8px;
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(236, 65, 65);
    }

    .Home-2 {
        font-family: Rame-Light;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 48.5px;
        background-color: rgb(236, 65, 65);
        color: white;
        font-size: 14px;
        margin-left: 210px;
    }


    .daxrili {
        margin-left: 15px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        height: 48.5px;
        background-color: rgb(236, 65, 65);
        color: white;
        font-size: 22px;
    }



    .Cart-2 {
        font-family: Rame-Light;
        margin-left: 15px;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(236, 65, 65);
        height: 48.5px;
        width: 100%;
        font-size: 14px;
        color: rgb(255, 175, 27);
    }

    .img1 {
        margin-top: -12px;
    }

    .responsive {
        display: none;
    }

}



@media only screen and (max-width: 768px) {

    header {
        width: 100%;
        height: 210px;
        background-image: url(https://scontent.ftbs6-2.fna.fbcdn.net/v/t1.15752-9/422221804_442098844895337_285424521677156991_n.png?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=7pd_QPax_lQAb5SSPVN&_nc_ht=scontent.ftbs6-2.fna&oh=03_AdWPJueJcLhY-WBYkyOrBg_RxDB2tXooEi05jjouXCbtNA&oe=663E0DAD);
        background-size: cover;
        margin-bottom: 48px;
    }

    .Header-Top-Row {
        display: none;
    }

    .responsive-img-1 {
        width: 172px;
        height: 82px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .img--2 {
        height: 80px;
        width: 80px;
        margin-left: 480px;
        margin-top: 10px;
    }


    .responsive-myCart {
        color: white;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        font-size: 38px;
        font-family: Rame-Bold;
    }


    .img-0 {
        width: 100%;
        height: 6px;
    }

    .img-1 {
        width: 100%;
        height: 6px;
        
    }

    .big-red-line {
        margin-top: -62px;
        
    }

    .Home-Cart {
        margin-top: -8px;
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        background-color: rgb(236, 65, 65);
    }

    .Home-2 {
        font-family: Rame-Light;
        margin-top: 5px;
        display: flex;
        align-items: center;
        height: 48.5px;
        background-color: rgb(236, 65, 65);
        color: white;
        font-size: 14px;
        margin-left: 130px;
    }


    .daxrili {
        margin-left: 15px;
        margin-top: 5px;
        display: flex;
        align-items: center;
        height: 48.5px;
        background-color: rgb(236, 65, 65);
        color: white;
        font-size: 22px;
    }



    .Cart-2 {
        font-family: Rame-Light;
        margin-left: 15px;
        margin-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgb(236, 65, 65);
        height: 48.5px;
        width: 100%;
        font-size: 14px;
        color: rgb(255, 175, 27);
    }

    .img1 {
        margin-top: -12px;
    }

}