<header>
    <div class="Container">
        <div class="Header-Top-Row">
            <div class="responsive">
                <div class="responsive-two-1">
                    <img class="img-2-1" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/421664641_1668308890665036_8620690962774014366_n.png?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jzzx5jqLVYwAb7eywR-&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdXBye4YOROJBVdTb6xZJqxygLBVlKxn0Ty17l4Vps001w&oe=663E2199" alt="2">
                    <img routerLink="/cart" class="img--2" src="https://restaurant.stepprojects.ge/images/cart_1.png" alt="">
                </div>
                <div class="responsive-Fast">
                    <h1 class="responsive-1">Fast And Efficient, Online Ordering</h1>
                    <h1 class="responsive-2">You Must Try.</h1>
                </div>
            </div>
            <div class="IV-K-responsive">
                <div class="sticky">
                    <img class="img-2" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/421664641_1668308890665036_8620690962774014366_n.png?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jzzx5jqLVYwAb7eywR-&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdXBye4YOROJBVdTb6xZJqxygLBVlKxn0Ty17l4Vps001w&oe=663E2199" alt="2">
                    <div class="Main-Pages">
                        <a href="#" routerLink="/" class="Home">Home</a>
                        <div class="Cart-Animation">
                            <a href="#" routerLink="/cart" class="Cart">Cart</a>
                            <img class="img-3" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/436836459_1823525171461515_1998424651991337700_n.png?stp=cp0_dst-png&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=cQrocj0CYVgAb4W4fhV&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHbwCPsxLCC1prjphe8KSIHHGwTEpKyryoW98yqQNdMEg&oe=6643523C" alt="">
                            <img class="img-4" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/435531068_989280092767964_7886677637946586439_n.png?stp=cp0_dst-png&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=VdkbF8sJzn0Ab4kCQer&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdUYESxnF5HLogZDNcG-Yt-VLeo1yGCTzjaOV51dHaZPSg&oe=66436425" alt="">
                        </div>
                    </div>
                    <div class="Red-Rod-1" src="https://restaurant.stepprojects.ge/images/hover_bg.png"></div>
                </div>
            </div>
        <div class="Text-1">
            <h1>Fast And Efficient, Online Ordering You Must Try.</h1>
        </div>
    </div>
</div>
</header>